<svg width="800" height="1000px" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
 <g>
  <title>canva</title>
  <text style="cursor: move;" xml:space="preserve" text-anchor="middle" font-family="serif" font-size="15" id="svg_9" y="384.375" x="75.81818" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="0" stroke="#000000" fill="#000000">{{report.a}}</text>
  <circle id="svg_4" r="72.94518" cy="380.375" cx="78.81818" fill-opacity="0" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" stroke="#000000" fill="#000000"/>
  <text id="svg_11" xml:space="preserve" text-anchor="middle" font-family="serif" font-size="15" y="179.59019" x="388.31604" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="0" stroke="#000000" fill="#000000">{{report.b}}</text>
  <circle id="svg_6" r="72.94518" cy="172.86363" cx="394.31818" fill-opacity="0" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" stroke="#000000" fill="#000000"/>
  <text id="svg_10" xml:space="preserve" text-anchor="middle" font-family="serif" font-size="15" y="270.59019" x="239.31604" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="0" stroke="#000000" fill="#000000">{{report.c}}</text>
  <circle id="svg_5" r="72.94518" cy="264.86363" cx="237.31818" fill-opacity="0" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" stroke="#000000" fill="#000000"/>
  <circle id="svg_7" r="72.94518" cy="79.86363" cx="559.31818" fill-opacity="0" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" stroke="#000000" fill="#000000"/>
  <text id="svg_12" xml:space="preserve" text-anchor="middle" font-family="serif" font-size="15" y="88.59019" x="559.31604" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="0" stroke="#000000" fill="#000000">{{report.d}}</text>
  <line id="svg_22" y2="315.375" x2="140.81818" y1="315.375" x1="165.81818" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" stroke="#000000" fill="none"/>
  <line id="svg_18" y2="308.375" x2="176.81818" y1="335.375" x1="137.81818" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" stroke="#000000" fill="none"/>
  <line transform="rotate(-90 164.31817626953128,325.8636169433594) " id="svg_25" y2="325.86362" x2="151.81818" y1="325.86362" x1="176.81818" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" stroke="#000000" fill="none"/>
  <line id="svg_19" y2="204.375" x2="326.81818" y1="222.375" x1="298.81818" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" stroke="#000000" fill="none"/>
  <line id="svg_20" y2="109.375" x2="491.81818" y1="130.375" x1="456.81818" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" stroke="#000000" fill="none"/>
  <line id="svg_28" y2="208.37501" x2="297.81818" y1="208.37501" x1="322.81818" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" stroke="#000000" fill="none"/>
  <line id="svg_29" transform="rotate(-87.72675323486328 321.31817626953125,218.86361694335935) " y2="218.86363" x2="308.81818" y1="218.86363" x1="333.81818" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" stroke="#000000" fill="none"/>
  <line id="svg_30" y2="116.37501" x2="457.81818" y1="116.37501" x1="482.81818" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" stroke="#000000" fill="none"/>
  <line id="svg_31" transform="rotate(-87.72675323486328 481.31817626953125,126.86361694335935) " y2="126.86363" x2="468.81818" y1="126.86363" x1="493.81818" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" stroke="#000000" fill="none"/>
 </g>
</svg>