<div class="row">
	<p class="well text-center"><q>Ils ne savaient pas que c'était impossible, alors ils l'ont fait...</q></p>
	<div class="col-md-4">
		<h3>Les idées de business à creuser : </h3>
		<div class="panel panel-default">
			Besoins non résolu
		</div>
		<div class="panel panel-default">
			Produits existants pas à la hauteur
		</div>
		<div class="panel panel-default">
			Problèmes à résoudre
		</div>
	</div>
	<div class="col-md-4">
		<h3>Les 3 cercles : </h3>
		<p>Trouver l'intersection entre les 3</p>
		<div class="panel panel-default">
			Votre passion
		</div>
		<div class="panel panel-default">
			Vos compétences
		</div>
		<div class="panel panel-default">
			Une opportunité
		</div>
	</div>
	<div class="col-md-4">
		<h3>Importer ce qui fonctionne ailleurs : </h3>
		<div class="panel panel-default">
			Quelque chose qui n'existe tout simplement pas encore dans ce pays
		</div>
		<div class="panel panel-default">
			Ce qui marche dans un autre secteur et qui pourrait être appliquer ailleurs
		</div>
		<div class="panel panel-default">
			Quelque chose qui est pour l'instant reservé à un public précis, et qui pourrait être étendu
		</div>
	</div>
</div>
<div class="row">
<svg width="640" height="480" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
 <g>
  <title>Layer 1</title>
  <text style="cursor: move;" id="svg_7" xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" y="335.04614" x="197.77199" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="0" stroke="#000000" fill="#000000">{{report.b}}</text>
  <circle id="svg_2" r="139.81773" cy="315.54828" cx="233.27271" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" stroke="#000000" fill="none"/>
  <text xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" id="svg_6" y="112.54828" x="313.27271" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="0" stroke="#000000" fill="#000000">{{report.a}}</text>
  <circle id="svg_3" r="139.81773" cy="163.31817" cx="326.77272" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" stroke="#000000" fill="none"/>
  <circle id="svg_5" r="139.81773" cy="316.31817" cx="422.77272" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="5" stroke="#000000" fill="none"/>
  <text style="cursor: move;" id="svg_8" xml:space="preserve" text-anchor="middle" font-family="serif" font-size="24" y="341.04614" x="457.77199" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="0" stroke="#000000" fill="#000000">{{report.c}}</text>
 </g>
</svg>
</div>