<div class="well">
	<p class="text-center"><q>C'est dans l'action que le succès se trouve...</q></p>
</div>
<div class="list-group">
	<div class="list-group-item">
		Créer un projet sur startup.org
	</div>
	<div class="list-group-item">
		Ajouter un formulaire de capture d'emails
	</div>
	<div class="list-group-item">
		Publier et vérifier si ça fonctionne
	</div>
	<div class="list-group-item">
		Poster un message sur facebook avec le lien de la page
	</div>
	<div class="list-group-item">
		Attendre 24h et voir le nombre d'inscrits
	</div>
</div>