<div class="row">
	<h1 class="text-center">Administration dashboard</h1>
</div>
<div class="row">
	<div class="list-group">
		<a ui-sref="modifycanva({canva: canva.id})" class="list-group-item" ng-repeat="canva in canvas">
			<span class="close glyphicon glyphicon-edit"></span>
			<h4 class="list-group-item-heading">{{canva.title}}</h4>
			<p class="list-group-item-text">{{canva.description}}</p>
		</a>
	</div>
	<div class="text-center">
		<button class="btn btn-default" ng-click="addCanva()">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			 Ajouter un canva
		</button>
	</div>
</div>
