<div class="row">
	<div class="row">
		<div class="col-md-8 col-md-offset-1">
			<div class="list-group">
				<div class="list-group-item">
					<span class="badge">{{steps.length}} étapes</span>
					<h4 class="list-group-item-heading">{{canva.title}}</h4>
					<p class="list-group-item-text">Description : {{canva.description}}</p>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<button class="btn btn-block" ng-class="{'btn-success': sent, 'btn-primary': !sent}" ng-click="send()">
				<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
		 		Enregistrer
			</button>
			<button class="btn btn-danger btn-block" ng-click="removeCanva()">
				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
				Supprimer
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-5">
			<form>
				<div class="form-group" ng-class="{'has-error': error, 'has-success': sent}">
    				<label for="title">Titre </label>
    				<input type="text" class="form-control" id="title" ng-model="canva.title">
  				</div>	
  				<div class="form-group" ng-class="{'has-error': error, 'has-success': sent}">
    				<label for="description">Description </label>
    				<input type="text" class="form-control" id="description" ng-model="canva.description">
  				</div>
  				<div class="form-group" ng-class="{'has-error': error, 'has-success': sent}">
    				<label for="template">Template </label>
    				<input type="text" class="form-control" id="template" ng-model="template.url">
  				</div>
			</form>
		</div>
		<div class="col-md-7">
			<div ng-repeat="step in steps">
				<div class="panel panel-default">
					<div class="panel-heading">
					<button class="close" aria-label="Close" ng-click="removeStep(step)"><span aria-hidden="true">&times</span></button>
					<h3 class="text-center">{{step.location}}</h3>
				</div>
					<div class="panel-body">
						<form>
							<div class="form-group" ng-class="{'has-error': error, 'has-success': sent}">
								<label>Question : </label>
								<input class="form-control" type="text" ng-model="step.question.main"/>
							</div>	
							<div class="form-group" ng-class="{'has-error': error, 'has-success': sent}">
								<label>Exemple : </label>
								<input class="form-control" type="text" ng-model="step.question.small"/>
							</div>
							<div class="form-group" ng-class="{'has-error': error, 'has-success': sent}">
								<label>Emplacement : </label>
								<input class="form-control" type="text" ng-model="step.location"/>
							</div>	
						</form>
					</div>
				</div>
			</div>
			<div class="text-center">
				<button class="btn btn-default" ng-click="addStep()">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				 Ajouter une étape
			</button>
			</div>
		</div>
	</div>
</div>