<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="text-center">{{question.main}}<small>{{question.small}}</small></h2>
	</div>
	<div class="panel-body">
		<form>
			<div class="form-group" ng-class="{'has-error': error, 'has-success': sent}">
				<input class="form-control" type="text" ng-model="answer"/>
			</div>	
			<div class="text-center">
				<input class="btn btn-block" ng-class="{'btn-success': sent, 'btn-primary': !sent}" type="submit" ng-click="send()" value="Envoyer"/>
			</div>
		</form>
	</div>
</div>