<div class="row">
	<h1 class="text-center">Entrepreneur en 6 jours</h1>
</div>
<div class="row">
	<h2 class="text-center">Vos étapes</h2>
	<div class="list-group">
		<div ng-repeat="canva in canvas">
			<div ng-switch="canva.finished">
				<a ng-switch-when="false" ui-sref="canvaquestion({canva: canva.id})" class="list-group-item">
					<h4>{{canva.title}}</h4>
					<p>{{canva.description}}</p>
				</a>
				<a ng-switch-when="true" ui-sref="prereport({canva: canva.id, report: canva.report})" class="list-group-item">
					<h4><span class="glyphicon glyphicon-ok"></span> {{canva.title}}</h4>
					<p>{{canva.description}}</p>
				</a>
			</div>
		</div>
	</div>
</div>