<div class="text-center">
	<button class="btn btn-success" ng-click="makePdf()" ng-show="pdfAble">Obtenir en PDF</button>
	<button class="btn btn-primary" ng-click="printPdf()" ng-show="pdfAble">Imprimer</button>
	<a ui-sref="canvaquestion({canva: report.canvaId})"><button class="btn btn-default">Refaire cette étape</button></a>
</div>
<br/>

<div id="pdfable" ng-include="templateUrl">
</div>
